.list-item-like {
    --subheader-color: var(--mdd-list-item-subheader-color, rgba(0, 0, 0, 0.54));
}

.list-item-like .header,
.list-item-like .subheader {
    vertical-align: bottom;
}

.list-item-like .header {
    margin-bottom: 0.25em;

    line-height: 1em;
}

.list-item-like .subheader {
    line-height: 1em;
    font-size: 0.875em;

    color: var(--subheader-color);
}
